/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o layout */
body, html {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: #ff2f00; /* Cor para a Sidebar */
    width: 200px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #00ff2f; /* Cor para o Header */
    height: 50px;
}

.content {
    background-color: #0012d5; /* Cor para o Content */
    flex: 1;
    padding: 20px;
}
